<% provide(:title, 'Contact') %>

<div class="center hero-unit">
	<h1>Wolf: Contact</h1>
	<h2>
		Contact details regarding the Wolf Roleplaying System.
	</h2>
</div>

<h2>This page yet to be filled in.</h2>
