<% provide(:rules, 'Core') %>
<div class="center hero-unit">
	<h1>Wolf Rules: Core</h1>
	<h2>
		Core Rules for the Wolf Roleplaying System.
	</h2>
</div>

<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Core Rules</a></li>
		<li><a href="#tab2" data-toggle="tab">Combat Rules</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<p>Content for Core Rules</p>
		</div>
		<div class="tab-pane" id="tab2">
			<p>Content for Combat Rules</p>
		</div>
	</div>
</div>