<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Wolf Home Page</h1>
	<h2>
		This is the home page for Anton's Wolf Role Playing System.
	</h2>

	<img src="assets/logo.png" alt="Wolf Logo"/>

</div>
