.dont-print {
	display: none;
}

.print {
	display: inline;
}

.name-warrior, .name-rogue, .name-channeller, .name-mechanist, .name-trickster, .name-battle-mage, .name-necromancer, .name-lore, .hp, .mp {
	color: black;
}
