<div id="importModal" class="modal hide fade" style="display: none;">
	<%= form_for(@character, url: {action: :import}) do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Import Character</h3>
		</div>
		<div class="modal-body">

			<%= f.file_field :file %>

		</div>
		<div class="modal-footer">
			<a href='#' class="btn" data-dismiss="modal">Cancel</a>
			<%= f.submit "Import", class: "btn btn-small btn-primary" %>
		</div>
	<% end %>
</div>
