<% if campaign.visible_to? current_user %>
	<div class="well center">
		<h2><%= link_to campaign.name, campaign %></h2>
		<%= campaign.description %>
		<% if signed_in? %>
			<% membership = CampaignMember.find_by_user_id_and_campaign_id(current_user.id, campaign.id) %>
			<p class="center membership">
				<% if membership.nil? %>
					Not a Member
				<% elsif membership.membership == :admin %>
					Admin
				<% elsif membership.membership == :member %>
					Member
				<% elsif membership.membership == :denied %>
					Denied
				<% elsif membership.membership == :request %>
					Requesting to Join
				<% elsif membership.membership == :invite %>
					Invited to Join
				<% end %>
			</p>
		<% end %>
	</div>
<% end %>
