<% provide(:title, "Campaigns") %>

<div class="hero-unit">
	<h1>Campaign List</h1>
	<div class="center">
		<%= link_to "Create Campaign", new_campaign_path, class: 'btn btn-large btn-primary' if signed_in? %>
	</div>
</div>

<%= render @campaigns %>
