<% provide(:title, "Campaign") %>

<div class="hero-unit">
	<h1>Campaign List</h1>
	<div class="center" style="padding-top: 25px">
		<%= link_to "Create Campaign", new_campaign_path, class: 'btn btn-large btn-primary' %>
	</div>
</div>

<% @campaign_list = Campaign.all %>

<%= render 'shared/campaign_list' %>
