@import "bootstrap";

$lightgrey: #eee;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $lightgrey;
	color: #999;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
	margin-right: 5px;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.skill {
	padding-bottom:10px;
}

.ability {
	padding-bottom: 25px;
}

.synergy {
	@extend .well;
	padding: 5px;
	text-align: center;
}

.synergy-row {
	border-left: 1px solid black;
}

.small-left {
	width: 20px;
	height: 20px;
	float: left;
}

.small-right {
	width: 20px;
	height: 20px;
	float: right;
}

hr {
	width:30px;
	color: black;
	background-color: black;
	height:1px;
}

.warrior {
	background-color: #fdd;
}

.rogue {
	background-color: #ddf;
}

.channeller {
	background-color: #ffd;
}

.mechanist {
	background-color: #eee;
}

.trickster {
	background-color: #fff1d8;
}

.battle-mage {
	background-color: #fdf;
}

.necromancer {
	background-color: #dfd;
}

.lore {
	background-color: #cdc;
}

.no-synergy {
	background-color: #ddd;
}

/* Stat table */

col.stat-name {
	table-layout: fixed;
}

col.stat-elem {
	width: 80px;
}

table.stat-table td {
	text-align: center;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
