@import "bootstrap";

$lightgrey: #eee;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $lightgrey;
	color: #999;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
	margin-right: 5px;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.skill {
	padding-bottom:10px;
}

.ability {
	padding-bottom: 25px;
}

.synergy {
	@extend .well;
	padding: 5px;
	text-align: center;
}

.synergy-row {
	border-left: 1px solid black;
}

.small-left {
	width: 20px;
	height: 20px;
	float: left;
}

.small-right {
	width: 20px;
	height: 20px;
	float: right;
}

hr {
	width:30px;
	color: black;
	background-color: black;
	height:1px;
}

.warrior {
	background-color: #fdd;
}

.skill-warrior {
	@extend .well;
	@extend .warrior;
}

.name-warrior {
	color: #f44;
	font-weight: bold;
	text-align: left;
}

.add-warrior {
	@extend .name-warrior;
}

.rogue {
	background-color: #ddf;
}

.skill-rogue {
	@extend .well;
	@extend .rogue;
}

.name-rogue {
	color: #44f;
	font-weight: bold;
}

.add-rogue {
	@extend .name-rogue;
}

.channeller {
	background-color: #ffd;
}

.skill-channeller {
	@extend .well;
	@extend .channeller;
}

.name-channeller {
	color: #cc0;
	font-weight: bold;
}

.add-channeller {
	@extend .name-channeller;
}

.mechanist {
	background-color: #eee;
}

.skill-mechanist {
	@extend .well;
	@extend .mechanist;
}

.name-mechanist {
	color: #aaa;
	font-weight: bold;
}

.add-mechanist {
	@extend .name-mechanist;
}

.trickster {
	background-color: #fff1d8;
}

.skill-trickster {
	@extend .well;
	@extend .trickster;
}

.name-trickster {
	color: #fb0;
	font-weight: bold;
}

.add-trickster {
	@extend .name-trickster;
}

.battle-mage {
	background-color: #fdf;
}

.skill-battle-mage {
	@extend .well;
	@extend .battle-mage;
}

.name-battle-mage {
	color: #c2c;
	font-weight: bold;
}

.add-battle-mage {
	@extend .name-battle-mage;
}

.necromancer {
	background-color: #dfd;
}

.skill-necromancer {
	@extend .well;
	@extend .necromancer;
}

.name-necromancer {
	color: #6c6;
	font-weight: bold;
}

.add-necromancer {
	@extend .name-necromancer;
}

.lore {
	background-color: #cdc;
}

.skill-lore {
	@extend .well;
	@extend .lore;
}

.name-lore {
	color: #595;
	font-weight: bold;
}

.add-lore {
	@extend .name-lore;
}

.no-synergy {
}

.skill-no-synergy {
	@extend .well;
	@extend .no-synergy;
	background-color: #ddd;
}

.name-no-synergy {
	color: #000;
	font-weight: bold;
}

.add-no-synergy {
	@extend .name-no-synergy;
}

.hp {
	color: #f00;
}

.mp {
	color: #00f;
}

/* Stat table */

col.stat-name {
	table-layout: fixed;
}

col.stat-elem {
	width: 80px;
}

table.stat-table td {
	text-align: center;
}

/* Skill table */

table.skill-table td {
	vertical-align: middle;
	/* text-align: center; */
}

col.skill-name {
	width:180px;
}

col.small {
	width: 50px;
}

.selected-char {
	background-color: #ddf;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* Hiding skill tags */

 .skill-level-select {
 	display: none;
 }

 .power {
 	text-align:center;
 	color: black;
 }

 .skill-icons {
 	width:20px;
 }
